<web-app>
<servlet>
<servlet-name>Welcome</servlet-name>
<servlet-class>firstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Welcome</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>Register</servlet-name>
	<servlet-class>RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>Register</servlet-name>
 <url-pattern>/signup</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Login</servlet-name>
	<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
 <servlet-name>Login</servlet-name>
 <url-pattern>/signin</url-pattern>
</servlet-mapping>


<welcome-file-list>
        <welcome-file>home.html</welcome-file>
</welcome-file-list>
</web-app>